.grid {
    display: grid;

    &-1-2 {
        grid-template-columns: 1fr;

        @include atMedium {
            grid-template-columns: 1.1fr 1.9fr;
        }
    }

    &-1-1x2 {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        justify-content: space-between;
    }

    &-1-1-1 {
        @include atMedium {
            grid-template-columns: repeat(3, 1fr);
            justify-content: space-between;
        }
    }

    &--t-padding {
        padding-top: 0;

        @include atSmall {
            padding-top: 80px;
        }
    }

    &--gap {
        grid-gap: 1rem;
        @include atMedium {
            grid-gap: 4.25rem;
        }
    }

    &--gap-large {
        grid-gap: 1rem;
        @include atMedium {
            grid-gap: 0.2rem 8rem;
        }
    }
}
