.grid-1x3 {
    display: grid;
    grid-template-columns: 1fr;

    @include atMedium {
        grid-template-columns: 1.1fr 1.9fr;
        &--gap {
            grid-gap: 4.25rem;
        }
    }

    &--gap {
        grid-gap: 1rem;
    }
}
