        .icon {
            background-image: url("../../assets/images/sprites/sprite-75c29e4f.svg");
        }

    .icon--clear-view-escapes {
        width: 152.4px;
        height: 69.53px;
        background-position: 0 0;
    }

    .icon--comment {
        width: 74px;
        height: 74px;
        background-position: 99.73094170403587% 0;
    }

    .icon--facebook {
        width: 31.23px;
        height: 52.01px;
        background-position: 27.843624186326526% 46.356423761584104%;
    }

    .icon--fire {
        width: 66px;
        height: 74px;
        background-position: 0 99.6328125%;
    }

    .icon--globe {
        width: 74px;
        height: 74px;
        background-position: 29.59641255605381% 99.6328125%;
    }

    .icon--instagram {
        width: 52.01px;
        height: 52.01px;
        background-position: 62.20662067839503% 49.3366224414961%;
    }

    .icon--mail {
        width: 74px;
        height: 58px;
        background-position: 0 48.28472222222222%;
    }

    .icon--rain {
        width: 74px;
        height: 74px;
        background-position: 99.73094170403587% 57.8125%;
    }

    .icon--star {
        width: 74px;
        height: 74px;
        background-position: 62.780269058295964% 99.6328125%;
    }

    .icon--twitter {
        width: 61.78px;
        height: 52.06px;
        background-position: 94.54978318170224% 98.7061491263172%;
    }

    .icon--wifi {
        width: 70px;
        height: 74px;
        background-position: 67.13656387665198% 0;
    }

    .icon--youtube {
        width: 44.75px;
        height: 52px;
        background-position: 41.71655104063429% 46.35333333333333%;
    }
